body {
    background-color: red;;
}

nav { 
    background-color: green;
    height: 100px;
    font-size: 30px;
}

.logo {
    float: left;
    margin-top: 30px;
    margin-left: 50px;
    color: blue;
}

.items {
    padding-left: 900px;
    padding-top: 30px;
    text-align: right;
    padding-right: 50px;
    margin: auto;
}