body {
    background-color: white;
}

nav { 
    background-color: white;
    height: 100px;
    font-size: 30px;
    border-bottom: 3px;
    border-color: gray;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-style: solid;
}

.logo {
    background-color: white;
    float: left;
    margin-top: 30px;
    margin-left: 100px;
    color: blue;

}

.items {
    background-color: white;
    padding-left: 900px;
    padding-top: 30px;
    text-align: right;
    padding-right: 200px;
    margin: auto;
    color: gray;
    word-spacing: 2px;
}